
.sidebaroption{
    display: flex;
   
    align-items: center;
    height: 40px;
    padding :0 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    color: #010101;
}
.sidebaroption> .MuiSvgIcon-root{
    padding:5px;
}
.sidebaroption >h3{
    flex:1;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
}

.sidebaroption >p{
    display: none;
    font-weight: 300;
    font-size: 14px;
}
.sidebaroption:hover,
.sidebaroption:hover>h3,
.sidebaroption:hover>p,
.sidebaroption--active,
.sidebaroption--active:hover>p,
.sidebaroption--active:hover>h3
{
    background-color: #fcecec;
    color:#c04b37;
}

.sidebaroption--active:hover>p{
    display: inline;
}
.sidebaroption:hover>p{
    display: inline;
}